
#first{
    width: auto;
    height: auto;
    background-image: url(https://sharelatex-wiki-cdn-671420.c.cdn77.org/learn-scripts/images/a/ac/InsertingImagesEx8Overleaf.png);
}
#second{
  background-repeat: repeat-x;
  background-position: bottom;
   
  background-image: url(https://www.lunapic.com/editor/premade/transparent.gif);
    width: 390px;
    height: 3200px;
    background-attachment: fixed;
   }



